<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Document</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
                <img height="200" width="200"
                    src="https://scontent.fgua3-1.fna.fbcdn.net/v/t1.18169-9/26814936_2061036677256563_4411480533241697671_n.png?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=1HNns4DOYPUAX_p7dML&_nc_ht=scontent.fgua3-1.fna&oh=73251e4529c9f30b078f7fdca3d45920&oe=60CD8652"
                    alt="">
            </td>
            <td align="left" bgcolor="#ffe77b" style="background-color: #fff;">
                <h2 style="font-weight: 900;color: brown;">Cevichón de Cobán 2</h2>
                <p>8va. Avenida "A" 2-36 zona 3 Cobán Guatemala <br />
                    +502 7951-0000 <br />
                    https://cevichon.herokuapp.com | cevichon2coban@email.com</p>
            </td>
        </tr>
    </table>

    <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="50%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
                <h3 style="font-weight: 800;color: brown;">Usuario: Username</h3>
                <h3 style="font-weight: 800;color: brown;">Rol: Mesero</h3>
            </td>
        </tr>
    </table>

    <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="40%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
                <h4 style="font-weight: 500;color: #000000;">+502 1234-45678</h4>
                <h4 style="font-weight: 500;color: #000000;">thorbel@email.com</h4>
            </td>
            <td width="20%" align="center" bgcolor="#ffe77b" style="background-color: #fff;">
                <h4 style="font-weight: 500;color: #000000;">-</h4>
                <h4 style="font-weight: 500;color: #000000;">-</h4>
            </td>
            <td width="40%" align="right" bgcolor="#ffe77b" style="background-color: #fff;">
                <h4 style="font-weight: 500;color: #000000;">Fecha: dd/mm/yyyy</h4>
                <h4 style="font-weight: 500;color: #000000;">Hora: hh:mm</h4>
            </td>
        </tr>
    </table>
    <h1 style="font-size:30px; font-weight:600; color:green; margin-top:10px; text-align:center">INGREDIENTES</h1>
    <table class="table" width="95%">
        <thead>
            <tr>
                <th scope="col">Ingrediente</th>
                <th scope="col">Cantidad en bodega</th>
            </tr>
        </thead>
        <tbody>
            {{#each inventory.ingredientList}}
            <tr>
                <td width="50%">{{this.ingrediente}}</td>
                <td width="50%">{{this.cantidad}} unidades</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</body>

</html>